<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
    <h1 class="title">Todos</h1>
    <a href="{{ url_for('add') }}" class="btn add-btn">Add New</a>
    <div class="todos">
        {% for id, todo in todos.items() %}
      <div class="card">
          <p class="todo">{{ todo }}</p>
          <a href="{{ id }}" class="btn comp-btn">Complete</a>
        <a href="{{ id }}" class="btn del-btn">Delete</a>
      </div>
      {% else %}
      <h1>
          There are NO Todos, Please add one
      </h1>
      {% endfor %}
    </div>
  </div>
</body>
</html>
